
.icon-logo-e-mail::before {
	content: "\e90b";
}

.icon-logo-linkedin::before {
	content: "\e90c";
}

.icon-logo-twitter::before {
	content: "\e90d";
}

.icon-logo-facebook::before {
	content: "\e90e";
}

.icon-arrow-bottom::before {
	content: "\e900";
}

.icon-arrow-bottom-left::before {
	content: "\e901";
}

.icon-arrow-bottom-right::before {
	content: "\e902";
}

.icon-arrow-left::before {
	content: "\e903";
}

.icon-arrow-right::before {
	content: "\e904";
}

.icon-arrow-top::before {
	content: "\e905";
}

.icon-arrow-top-left::before {
	content: "\e906";
}

.icon-arrow-top-right::before {
	content: "\e907";
}

.icon-checkmark::before {
	content: "\e908";
}

.icon-close::before {
	content: "\e909";
}

.icon-menu::before {
	content: "\e90a";
}
