@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "01-settings/functions";
@import "01-settings/variables";
@import "01-settings/fonts";
@import "../fonts/iconfont/icomoon";

$red: red;

.test {
	color: $red;
}

body {
	--font-size-h1: #{$font-size-h1-clamp};
	--max-width: 1200px;

	font-family: Montserrat;
	background-color: blue;

	@each $breakpoint, $container-max-width in $container-max-widths {
		@include media-breakpoint-up($breakpoint, $grid-breakpoints) {
			@if $breakpoint == "md" {
				--max-width: 1400px;
			}
		}
	}
}
