$red: red;

.test{
   color:$red;
}


//@import "ie-legacy";
@import "01-settings/variables";
@import "01-settings/fonts";
@import "../fonts/iconfont/icomoon";



body{
	font-family: "Montserrat";
   background-color: red;
}
